{% extends "base.html" %}
{% load static %}

{% block title %}Post - {{ post.title }}{% endblock title %}


{% block blog %}active{% endblock blog %}

{% block content %}
<section class="ftco-section">
    <div class="container mt-5">
        <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <span><a href="{% url 'blog:home' %}">Blog</a></span>
          <h2>{{ post.title }}</h2>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
			{% if post.feature_image != 'blog/default_images/default_feature.png' %}
				<img class="block-6" src="{{ post.feature_image.url }}" />
			{% endif %}

			<div class="post-content" data-post-content="{{ post.content }}">
				Loading {{ post.title }}...
			</div>
          
            <div class="tagcloud">
              <!-- Tags -->
              {% for tag in post.tags.all %}
            	  <a href="{% url 'blog:home' %}?tag={{ tag.name }}" class="tag-cloud-link">{{ tag.name }}</a>
              {% endfor %}
            </div>
          
          <div class="about-author d-flex pt-5">
            <div class="bio align-self-md-center mr-4">
              <img src="{{ post.author.avatar.url }}" alt="Image placeholder" class="img-fluid mb-4">
            </div>
            <div class="desc align-self-md-center">
              <h3>About The Author</h3>
              <p>{{ post.author.about }}</p>
            </div>
          </div>
        
        
          <div class="pt-5 mt-5">
            <h3 class="mb-5">Comments ({{ post.comment_set.count }})</h3>

            {% if post.comment_set.all %}
            <!-- Comments List -->
            <ul class="comment-list">
              {% for comment in post.comment_set.all %}
              <!-- Start of comment -->
              <li class="comment" id="comment-{{ comment.pk }}">
                <div class="comment-body">
                  <h3>{{ comment.name }}</h3>
                  <div class="meta">{{ comment.get_date }}</div>
                  <p>{{ comment.message }}</p>
                </div>
              </li>
              <!-- End of comment -->
              {% endfor %}
            </ul>
            <!-- END comment-list -->
            {% else %}
            <span class="">Be the first to comment on {{ post.title }}</span>
            {% endif %}
          </div>   
          
          <!-- Commeting form -->
          <div class="comment-form-wrap pt-5">
            <h3 class="mb-5">Leave a comment</h3>
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="name">Name *</label>
                <input type="text" class="form-control" id="name" name="name" required>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
              </div>

              <div class="form-group">
                <label for="message">Message *</label>
                <textarea name="message" id="message" cols="30" rows="10" class="form-control" required></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
              </div>
        
            </form>
          </div>
        </div>
        
      </div>
        
    </div>
  </div>
</section>

{% endblock content %}

{% block script %}
	<script src="{% static 'blog/js/marked.min.js' %}"></script>
	<script src="{% static 'blog/js/contentLoad.js' %}"></script>
{% endblock script %}