<div class="block-3 d-md-flex {% if forloop.counter|divisibleby:2 %}order-1-1{% endif %} ftco-animate" data-scrollax-parent="true" style="width: 100%">
    <a href="{% url 'portfolio' %}" class="image d-flex justify-content-center align-items-center" style="background-image: url({{ portfolio.image.url }}); max-height: 90%; margin: 2em 0 2em 0;" data-scrollax=" properties: { translateY: '-30%'}">
        <div class="icon d-flex text-center justify-content-center align-items-center">
            <span class="icon-search"></span>
        </div>
    </a>
    <div class="text">
        <h4 class="subheading">{{ portfolio.portfolio_type }}</h4>
        <h2 class="heading">{{ portfolio.title }}</h2>
        <p>{{ portfolio.description }}</p>
        <p><a href="{{ portfolio.link }}">View Project</a></p>
    </div>
</div>