{% extends "base.html" %}
{% load wing_filter %}

{% block title %}Contact{% endblock title %}

{% block contact %}active{% endblock contact %}

{% block content %}
<section class="ftco-section contact-section">
    <div class="container mt-5">
      <div class="row d-flex mb-5 contact-info">
        <div class="col-md-12 mb-4">
            <h2 class="h4">Contact Information</h2>
        </div>

        <div class="w-100"></div>
            <div class="col-md-4">
                <p><span><a href="{{ eagle.github }}" target="_blank" rel="noopener noreferrer">Github</a></span></p>
            </div>

            <div class="col-md-4">
                <p><span><a href="{{ eagle.linkedin }}" target="_blank" rel="noopener noreferrer">Linked in</a></span></p>
            </div>

            <div class="col-md-4">
                <p><span>Email:</span> <a href="mailto:{{ eagle.email }}">{{ eagle.email }}</a></p>
            </div>
        </div>

        <div class="row block-9">
        {% if message_sent %}
            <div class="col-md-12 text-center heading-section ftco-animate">
                <h2>{{ name }}, your message has been sent</h2>
            </div>
        
        {% else %}
            <div class="col-md-6 pr-md-5">
                <form action="" method="POST">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="contact-name">Your Name</label>
                        <input type="text" class="form-control" placeholder="Give a name" id="contact-name" name='name' required>
                    </div>

                    <div class="form-group">
                        <label for="contact-email">Your Email</label>
                        <input id="contact-email" type="text" class="form-control" placeholder="example@email.com" name='email' required>
                    </div>

                    <div class="form-group">
                        <label for="contact-subject">Subject</label>
                        <input id="contact-subject" type="text" class="form-control" placeholder="What is the message about" name='subject' required>
                    </div>
                    <div class="form-group">
                        <label for="contact-message">Message</label>
                        <textarea id="contact-message" name="message" cols="30" rows="7" class="form-control" placeholder="Type your message" required></textarea>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
        
            </div>
        {% endif %}
        </div>
    </div>
</section>
{% endblock content %}