{% extends "base.html" %}

{% block title %}Portfolio{% endblock title %}

{% block content %}
<section class="ftco-section">
    <div class="container mt-5">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <span>Portfolio</span>
          <h2>Checkout a few of my works</h2>
        </div>
      </div>
      <div class="row no-gutters">

          {% if portfolios %}
            {% for portfolio in portfolios %}
              <!-- portfolio profile -->
              <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
                <!-- TODO here-->
                <a href="portfolio-single.html" class="image order-2 d-flex justify-content-center align-items-center" style="background-image: url('{{ portfolio.image.url }}'); " data-scrollax=" properties: { translateY: '-30%'}">
                  <div class="icon d-flex text-center justify-content-center align-items-center">
                    <span class="icon-search"></span>
                  </div>
                </a>
                <div class="text order-1">
                  <h4 class="subheading">{{ portfolio.portfolio_type }}</h4>
                  <h2 class="heading"><a href="portfoli-singleo.html">{{ portfolio.title }}</a></h2>
                  <p>{{ portfolio.description }}</p>
                  <p><a href="{{ portfolio.link }}">View Project</a></p>
                </div>
              </div>  
              <!-- End of profile -->
            {% endfor %}
          {% else %}
            <div class="col-md-12 text-center heading-section ftco-animate">
              <h2>Sorry. Portfolio works coming soon.</h2>
            </div>
          {% endif %}
            
        </div>
        {% comment %} <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div> {% endcomment %}
    </div>
</section>
{% endblock content %}
