{% extends "base.html" %}

{% block title %}Check out my resume{% endblock title %}

{% block resume %}active{% endblock resume %}

{% block content %}
<section class="ftco-section about-section">
    <div class="container">
      <div class="row d-flex my-5" data-scrollax-parent="true">
        <div class="col-md-4 author-img" style="background-image: url({{ eagle.portrait.url }});" data-scrollax=" properties: { translateY: '-70%'}"></div>
        <div class="col-md-2"></div>
        <div class="col-md-6 wrap ftco-animate">
          <div class="about-desc">
            <h1 class="bold-text">About</h1>
            <div class="p-5">
              <h2 class="mb-5">Hi! I'm Daniel Muremwa</h2>
              <p>{{ eagle.bio }}</p>
              <p>Checkout my resume</p>
              <h5>Contact me here!</h5>
              <p>Email: <a href="mailto:{{ eagle.email }}">{{ eagle.email }}</a></p>
              <p>Linked In: <a href="{{ eagle.linkedin }}" target="_blank">visit</a></p>
              <p>Github: <a href="{{ eagle.github }}" target="_blank">visit</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-end mt-5">
          <div class="col-md-10">
              <div class="profile ftco-animate">
                  <h2 class="mb-4">Profile</h2>
                  <p class="mb-4">I'm a Backend &amp; Frontend Developer from Limuru, Kenya. I aim to make a difference through smart solutions.</p>
              </div>
    
              <div class="exp mt-5 ftco-animate">
                    <h2 class="mb-4">Experience</h2>

                    {% if experiences %}
                    {% for experience in experiences %}
                    <div class="exp-wrap py-4">
                        <div class="desc">
                            <h4>{{ experience.position }} <span> - {{ experience.company }}</span> </h4>
                          <p class="location">{{ experience.location }}</p>
                        </div>
                        <div class="year">
                            <p>{{ experience.started|date:"F, Y" }}
                            - 
                            {% if experience.ended %}
                              {{ experience.ended|date:"F, Y" }} 
                            {% else %}
                            Present 
                            {% endif %}</p>
                        </div>
                    </div>                
                    {% endfor %}
                    {% else %}
                        <span>Experiences to be added</span>
                    {% endif %}
    
              </div>
    
    
              <div class="exp mt-5 ftco-animate">
                  <h2 class="mb-4">Education</h2>
                  {% if education %}
                  {% for education_ex in education %}
                  <div class="exp-wrap py-4">
                      <div class="desc">
                          <h4>{{ education_ex.qualification }}<span> - {{ education_ex.school }}</span> </h4>
                          <p class="location">{{ education_ex.location }}</p>
                      </div>
                      <div class="year">
                          <p>{{ education_ex.started.year }} 
                            - 
                            {% if education_ex.ended %}{{ education_ex.ended.year }}{% else %}Present {% endif %}</p>
                      </div>
                  </div>
                  {% endfor %}
                  {% else %}
                        <span>Education to be added</span>
                  {% endif %}
              </div>

              <div class="exp mt-5 ftco-animate">
                <div class="col-md-8">
                  <h2 class="mb-4">My Skills</h2>
                </div>

                <div class="col-md-6 animate-box">
                    <div class="progress-wrap">
                        <h4>HTML</h4>
                        <h4>CSS</h4>
                        <h4>JavaScript (ES6, React, jQuery)</h4>
                        <h4>Python (Django, plus other libraries)</h4>
                        <h4>Version control using Git (and <a href="https://github.com/muremwa" target="_blank">Github</a>)</h4>
                        
                    </div>
                </div>

              </div>
          </div>
      </div>
    </div>
  </section>
  {% endblock content %}
